body
{
	width:1000px;
	margin: 0 auto;
	font-size:14;
	background-color:grey;
}


#logo 
{
	float:left;
}

#heading 
{
	float:left;
}

#logo img
{
	width:300px;
}

.clear
{
	clear:both;
}

header
{
	background-color:white;
}

#heading h1 
{
	margin-top:45px;
	color:green;
	font-family:Tahoma;
	margin-left:100px;
}

#nav_bar
{
	background-color:white;
}

nav
{
	display:block;
}
li
{
	width:21%;
	font-size:20px;
	float:left;
	background-color:white;
	text-align:center;

}

ul
{
	/*display:inline;*/
}

footer
{
	position: fixed;
    bottom:0;
	width:1000px;
    background-color: white;
    text-align: center;
	font-size:20px; 
}

.contact-form
{
	width:50%;
	background-color:red;
}
.form-group
{
		width:100%;
		margin-bottom: 20px;
}
/*
	Styles labels for the gender radio button labels 
*/
.special-label
{
 display:inline !important;	
}

/*
	will style all labels within id="form"
*/
#form label
{
	display:block;
	margin-bottom: 5px;
	width=100%;
}

#form input[type=text], #form input[type=password]
#form input[type=email],#form input[type=date]
{
	width:96%;
	padding:2%;
}
.name-special
{
	
}

section
{
	width:50%;
	border:1px solid red;
}

.domain-name
{
	padding:1px;
	top:35px;
	right:20px;
	color:black;
}